@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap');

html {
    font-family: 'Karla', sans-serif;
    background-color: #002b36;
    color: rgba(255, 255, 255, 0.76);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.54;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga","case","calt","ss01","locl";
}

.main {
    width: 60%;
    margin: 4rem auto 4rem auto;
}

.desc {
    max-width: 50%;
}

.bigbutton {
    font-size: 1.4rem;
}

a {
    font-weight: 600;
    background-image:
        linear-gradient(
            to bottom, #e57373 0%,
            #e57373 100%
        );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.76);
    transition: background-size .2s, color .2s;
    width: auto;
}

a:hover {
    color: #002b36;
    background-size: 6px 50px;
}

.smalla {
    background-size: 2px 2px;
}

.topbar {
    margin-bottom: 10px;
    font-weight:600;
    letter-spacing: .1em;
}

#footer {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    opacity: 0.8;
}

#footer p {
    margin: 0;
    font-size: 0.9rem;
}

@media(max-width: 700px) {
    .main {
        width: 90%;
        margin: auto;
    }
    .desc {
        max-width: 100%;
        margin-top: 10px;
    }
    #footer {
        padding-top: 20px;
    }
}
