* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #d9d9d9;
  color: rgba(62, 119, 135, 0.76);
  font-size: 62.5%;
  width: 75%;
  height: 27.5rem;
  margin: 0 auto;
  overflow: auto;
  position: relative;
}

a {
    font-weight: 600;
    background-image:
        linear-gradient(
            to bottom, #e57373 0%,
            #e57373 100%
        );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    color: rgba(62, 119, 135, 0.76);
    transition: background-size .2s, color .2s;
    width: auto;
}

a:hover {
    color: #002b36;
    background-size: 6px 50px;
}


@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }
  100% {
    opacity: 100%;
  }
}
  
@keyframes fadeInOut2 {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 100%;
  }
}


.fifth-text {
  font-size: 5rem;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  animation-name: bottomFadeOut;
  animation-duration: 4s;
  animation-fill-mode: forwards; 
  color: rgba(62, 119, 135, 0.76);
}

.sixth-text {
  font-size: 3.4rem;
  position: absolute;
  top: 80.5%;
  left: 5.5%;
  opacity: 0;  
  animation-name: fadeInOut2;
  animation-delay: 1.75s;
  animation-duration: 4s;
  animation-fill-mode: forwards; 
  color: rgba(62, 119, 135, 0.76);
}
