/*** Navbar ***/
.nav-menu-top {
  padding-top: 25px;
}
.nav-item .nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
  padding-bottom: calc(1px * 2);
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0);
}
.nav-item .nav-link::after {
  display: block;
  background-color: black;
  width: 100%;
  left: 0;
  transform-origin: bottom center;
  height: 2px;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transition: 0.3s ease;
  content: "";
}
.nav-item .nav-link:hover {
  color: #3755be !important;
}
.nav-item .nav-link:hover::after {
  transform: scaleX(0.3);
}
