/*** Navbar ***/
.nav-menu-top {
  padding-top: 25px;
  
}
.nav-item .nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
  padding-bottom: calc(1px * 2);
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0);
}
.nav-item .nav-link::after {
  display: block;
  background-color: black;
  width: 100%;
  left: 0;
  transform-origin: bottom center;
  height: 2px;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transition: 0.3s ease;
  content: "";
}
.nav-item .nav-link:hover {
  color: #3755be !important;
}
.nav-item .nav-link:hover::after {
  transform: scaleX(0.3);
}
.card-title {
  color: #ffffff !important;
  font-size: 1.25em;
}
.card-text {
  font-weight: 600;
  color: #ccdceb !important;
}
.card-hover {
  background-color: #30c13f !important;
  transition: 0.4s;
}
.card-hover:hover svg {
  transition: 0.4s;
  fill: #fff !important;
}
/* Card changes color on hover */
.card-hover:hover {
  background-color: #269a32 !important;
  color: white !important;
  cursor: pointer !important;
}
/* Subtext changes on card hover */
.card-hover:hover .text-muted {
  color: white !important;
}
/* Icon changes on card hover */
.card-hover:hover .bi {
  color: white !important;
}

/*** Footer Section ***/
.footer-section {
  font-family: "Inter", sans-serif !important;
  height: auto;
  padding-top: 100px;
  background: #30c13f;
  color: #fff;
  width: 100% !important;
}
.fsubhead {
  font-family: "Inter", sans-serif;
  font-size: 1.15em;
  border-bottom: 2px solid #6b8cff;
  display: inline-block;
  padding-bottom: 10px;
}
.footerlink {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  color: #ccdceb !important;
  transition: 0.3s;
}
.footerlink:hover {
  text-decoration: none;
  color: #fff !important;
}

 .socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
  }

      .fa {
          padding: 10px;
         font-size: 30px;
        
         text-align: center;
      }
      
      .fa:hover {
        text-decoration: none;
        color: white;
        opacity: 0.5;
      }
      
      .fa-facebook {
          display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.75em;
    vertical-align: middle;
    border-radius: 50%; /* or 50% */
     background-color: #4267B2;
    width: auto;
        font-size: 26px;
        color: white;
      }
      
      .fa-instagram {
         display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5em;
    vertical-align: middle;
    border-radius: 50%; /* or 50% */
     background-color: #8a3ab9;
    width: auto;
        
        background-color: #8a3ab9;
        color: white;
      }
    
.salutations {
  display: inline-block;
  height: 8%;
  width: 100%;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 15px;
  background: #269a32;
  color: white;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.wave {
  font-size: 18px;
  vertical-align: bottom;
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}
